[run]
branch = 1
cover_pylib = 0
include=*fastasync/*
omit = t.*

[report]
omit =
    */python?.?/*
    */site-packages/*
    */pypy/*

    # tested by functional tests
    */fastasync/loop/*

    # not needed
    */fastasync/types/*
    */fastasync/utils/_py37_contextlib.py
    */fastasync/utils/types/*
    */fastasync/utils/typing.py
    */fastasync/utils/mocks.py

    # been in celery since forever
    */fastasync/utils/graphs/*
exclude_lines =
    # Have to re-enable the standard pragma
    if\ typing\.TYPE_CHECKING\:

    pragma: no cover

    if sys.platform == 'win32':

    \@abc\.abstractmethod

    \# Py3\.6

    \@overload
